<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UMS-Report-Server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EngineReport</display-name>
    <servlet-name>EngineReport</servlet-name>
    <servlet-class>ums.reportserver.EngineReport</servlet-class>
     <init-param> 
         <description>Config File</description>
    	 <param-name>config.file</param-name>
   	     <param-value>Z:\\UMS-REPOSITORY\\NEW-REPOSITORY\\HEAD\\UMS-Report-Server\\properties\\config.cfg</param-value>
    </init-param> 
    
     <init-param> 
         <description>log_dir</description>
    	 <param-name>log_dir</param-name>
   	     <param-value>Z:/UMS-REPOSITORY/NEW-REPOSITORY/HEAD/UMS-Report-Server/logs</param-value>
    </init-param> 
     <init-param> 
         <description>message_dir</description>
    	 <param-name>message_dir</param-name>
   	     <param-value>Z:/UMS-REPOSITORY/NEW-REPOSITORY/HEAD/UMS-Report-Server/properties/messages.properties</param-value>
    </init-param> 
  </servlet>
  <servlet-mapping>
    <servlet-name>EngineReport</servlet-name>
    <url-pattern>/EngineReport</url-pattern>
  </servlet-mapping>
</web-app>